body, html {
    font-family: "Roboto", sans-serif;
    background-color: #4A4137;
    // height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
  }

:root {
    text-size-adjust: 100%;

    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --speed: 500ms; 

  }

.navBar {
  display: flex;
  height: var(--nav-size);
  background-color: #321F33;
  padding: 0 calc(var(--nav-size) * 1.2);
  border-bottom: var(--border);

}
.leftnavSection{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding-right: 1em;
}

.navmidsection{
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex: 1 1 0%;
}

.navBar ul{
  max-width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.navBar li {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
} 

.navBar li a{
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  text-decoration: none;
  color: #f2f4f7;
}

.navBar li a:hover, .profile:hover{
  filter: brightness(1.2);
  cursor: pointer;
}
.bttn_style{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.uploadBttn{
  display: flex;
  margin-top: 1em;
}

.uploadBttn div:hover{
  cursor: pointer;
  color: grey;
}

.bttn_style div:hover{
  cursor: pointer;
  color: grey;
}

.deleteBttn, .updateBttn{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.navBar li a:hover{
  color: #167997;
}
.profilemenu{
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 1em;
  top: 60px;
  width: 200px;
  padding: 1rem;
  z-index: 1000;
  transform: translateX(-45%);
  transition: height var(--speed) ease;

}
.menuItem{
  display: flex;
  align-items: center;
  border-radius: 1em;
  height: 50px;
  padding: .5em;
  cursor: pointer;
  gap: .5em;
  span{
    font-size: .875em;
  }
}


.menuItem:hover{
  background-color: #f2f4f7;
}

.editProfile{
  display: flex;
  gap: .5em;
}

.logout-icon{
  display: flex;
  align-items: center;
}

.text-wrapper{
  display: flex;
  flex-direction: column;
  .edit-text{
    font-size: .875em;
  }
  .name-text{
    font-size: .65em;
  }
}
.logout-wrapper{
  span{
    font-size: .875em;
  }
}



.postwrapper{
  max-width: 1000px;
  margin: 20px auto;
}
.postheader{
  border-bottom: 1px dashed black;
  margin-bottom: 1.5em;
  span{
    
  }
}
.postContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2em;
  gap: 20px;

}
.postCard{
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  overflow: hidden;
  height: auto;
  width: 500px;
  text-decoration: none;
  color: black;
  div{
    display: flex;
    justify-content: flex-start;
  } 
  h1{
    font-size: 1.4em;
    padding-left: 10px;

    margin: 0;

  }
  span{
    padding-left: 10px;

    font-size: .875em;
  }
}

.postCard:hover{
  cursor: pointer;
}

.postCard img{
  height: auto;
  width: 100%;
  margin-bottom: .5em;
  // overflow: ;
}


.postIdContainer, .newPostcontainer{
background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
}

.signInContainer, .signUpContainer{
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0px auto;
  padding: 20px;
  gap: 1em;
}

// .postIdContainer input{
//   box-sizing: border-box;
//   display: block;
//   height: 30px;
//   width: 100%;
// }

.editableInput{
  box-sizing: border-box;
  display: block;
  font-size: 16px; /* Match the font size of the h3 */
  padding: 0px; /* Adjust padding as needed */
  height: 24px; /* Set height to match the h3 */
  line-height: 24px; /* Align text vertically in input */
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
.postIdContainer textarea, .newPostcontainer .newPostContent textarea{
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 300px;
}
.imageUpload textarea{
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.postTitle h1{
  margin: 0;
}
.authorName h2{
  margin-bottom: 0;
}
.tagsContainer p{
  margin-top: 0;
}

.searchList h4, .searchList span{
    padding-left: 10px;
}

.postListFound{
  height: 2em;
  text-decoration: none;
  color: black;
}
.postListFound:hover{
  cursor: pointer;
  background-color: #f2f4f7;
  border-radius: 8px;
  // border: 0px;
}

.searchWrapper{
  display: flex;
  width: 100%;
  justify-content: stretch;
  margin-left: auto;
  flex: 1 1 0%;
}

.searchContainer{
  width: 100%;
}


.searchBarFormat{
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}

.searchBar{
  width: clamp(150px, 50%, 500px);
}

.searchList{
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
  position: absolute; /* Position relative to .searchContainer */
  background: white;
  display: flex;
  flex-direction: column;
  z-index: 100;
  // opacity: 0;
  top: 50px;
  // left: 0; /* Align with the search bar's left edge */
  width: 500px;
}
